@using System.Collections
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - inmobiliaria</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/inmobiliaria.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/index.css" >
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Inquilinos" asp-action="Index">Inquilinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Contratos" asp-action="Index">Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Propietarios" asp-action="Index">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Inmuebles" asp-action="Index">Inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Tipos" asp-action="Index">Tipos de inmueble</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Pagos" asp-action="Index">Pagos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuario</a>
                        </li>
                                                <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                             <button id="themeToggle" class="btn btn-outline-dark ms-auto">🌙</button>
                        </li>
                    </ul>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <ul class="navbar-nav ms-auto mb-lg-0">
                                    <li class="nav-item dropdown ms-auto">
                                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @{
                                                var avatar = User.FindFirst("Avatar")?.Value;
                                                var avatarUrl = string.IsNullOrEmpty(avatar)
                                                    ? "https://ui-avatars.com/api/?name=" + User.FindFirst("FullName").Value + "&background=00ff73&color=fff&size=32"
                                                    : avatar;
                                            }
                                            @User.Identity.Name
                                            <img src="@(avatarUrl)" alt="Avatar" class="rounded-circle img-fluid"
                                                style="width: 24px; height: 24px; object-fit: cover;">
                                        </a>
                                         <ul class="navbar-nav">
                                            <li class="nav-item dropdown ">
                                                <ul class="dropdown-menu ">
                                                    <li><a class="dropdown-item" asp-action="Perfil" asp-controller="Usuarios">Perfil</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Logout" class="btn btn-danger">Salir</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            }
            <div>
            </div>
        </nav>
    </header>
    
    <div class="container felx-fill py-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center py-3 mt-auto">
        <div class="container">
            &copy; 2025 - inmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        const toggle = document.getElementById("themeToggle");

        const savedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-bs-theme", savedTheme);
        toggle.textContent = savedTheme === "light" ? "🌙" : "☀️";

        toggle.addEventListener("click", () => {
            let currentTheme = document.documentElement.getAttribute("data-bs-theme");
            let newTheme = currentTheme === "light" ? "dark" : "light";

            document.documentElement.setAttribute("data-bs-theme", newTheme);
            localStorage.setItem("theme", newTheme);

            toggle.textContent = newTheme === "light" ? "🌙" : "☀️";
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            
        }
        @if (ViewBag.Accion != null && ViewBag.Id != null && ViewBag.Accion == "Eliminado")
        {
            <text>
                toastr.success('@ViewBag.Accion correctamente <br> <a id="deshacer-btn" href="/@ViewBag.ControllerName/Reactivar/@ViewBag.Id">Deshacer</a>');
            </text>
        }else if (ViewBag.Accion != null)
        {
            <text>
                toastr.success('@ViewBag.Accion correctamente');
            </text>
        }
        @if (ViewBag.Error != null)
        {
            <text>
                toastr.error('@ViewBag.Error');
            </text>
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
