@model IEnumerable<inmobiliaria.Models.Tipo>
@{
    ViewData["Title"] = "Listado de tipos";
}

<div class="text-center">
    <h1>Tipos de inmueble</h1>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Tipos" asp-action="Formulario">Registrar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                
                <div class="btn-group" role="group">
                    <td>
                        <a class="btn btn-warning" asp-controller="Tipos" asp-action="Formulario" asp-route-id="@item.Id">Editar</a>
            @if(User.IsInRole("Administrador")){

                        <a class="btn btn-danger" asp-controller="Tipos" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
            }
                    </td>
               </div>
            </tr>
        }
    </tbody>
</table>
