<div class="modal fade" id="modal_cancelacion" tabindex="-1" aria-labelledby="cancelacionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancelacionModalLabel">Detalles del contrato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Meses @ViewBag.MesesTranscurridos / @ViewBag.MesesTotales (Meses transcurridos completamente / Totales)</p>
        <p>Multa @ViewBag.Multa</p>
        <p>Tiene @ViewBag.MesesImpagos meses impagos, paguelos antes de cancelar el contrato</p>
        <a class="btn btn-primary" asp-controller="Pagos" asp-action="Formulario" asp-route-idContrato="@ViewBag.IdContrato">Incluir impagos a la multa</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
