@model IEnumerable<inmobiliaria.Models.Inmueble>
@{
    ViewData["Title"] = "Listado de Inmuebles";
}

<div class="text-center">
    <h1>Inmuebles</h1>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Inmuebles" asp-action="Formulario">Registrar</a>
</div>

    <div class="contenedor-card" >
        @foreach(var item in Model)
        {
            <div>

          <div class="card" style="width: 18rem;"></div>
           <img src="~/images/default1.png" class="card-img-top imagen-card" alt="Imagen Inmueble">
          <div class="card-body">
           <h6>@Html.DisplayNameFor(model => model.Direccion)</h6>
          <h4 class="card-title">@Html.DisplayFor(modelItem => item.Direccion)</h4>
          <p>@Html.DisplayNameFor(model => model.Uso)</p>
          <h5>@Html.DisplayFor(modelItem => item.Uso)</h5>
          <p>@Html.DisplayNameFor(model => model.Precio)</p>
          <h4>@Html.DisplayFor(modelItem => item.Precio)</h4>
           <div class="btn-group" role="group">
                    
                        <a class="btn btn-warning" asp-controller="Inmuebles" asp-action="Formulario" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-controller="Inmuebles" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                    
               </div>
          <a class="btn btn-primary" asp-controller="Inmuebles" asp-action="BuscarPorId" asp-route-id="@item.Id">Detalle</a>
          </div>
          
            </div>
        }
     
    </div>        