@using inmobiliaria.Models
@model IEnumerable<inmobiliaria.Models.Inmueble>
@{
    ViewData["Title"] = "Listado de Inmuebles";
    Propietario propietario = ViewBag.Propietario;
}

<div class="text-center">
    <h1>Inmuebles</h1>
</div>
<div class="contenedor-botones-crear">
  <div>
      <a class="btn btn-primary" asp-controller="Inmuebles" asp-action="Formulario">Registrar</a>
  </div>
  <div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearTipoModal">Agregar tipo de inmueble</button>
  </div>
  <div>
    <div>
    <select  id="IdPropietario" style="width: 300px;">
      @if(propietario != null)
      {
        <option selected value="@propietario.Id">@propietario.Nombre @propietario.Apellido (@propietario.Dni)</option>
      }
    </select>
    </div>
    <div class="d-flex flex-row">
    
      <label class="form-check">Disponibles</label>
      <input class="form-check-input" type="checkbox" id="filtro-disponibles">
      <label class="form-control">Periodo</label>
      <label class="form-control">fecha inicio</label><br>
      <input class="form-control" type="date" id="filtro-periodo-desde">
      <label class="form-control">fecha desde</label>
      <input class="form-control" type="date" id="filtro-periodo-hasta">
    </div>
  </div>
</div>
    @* <div class="contenedor-card" >
        @foreach(var item in Model)
        {
          <div class="card" style="width: 18rem;">
           <img src="~/images/default1.png" class="card-img-top imagen-card" alt="Imagen Inmueble">
          <div class="card-body">
            <h6>@Html.DisplayNameFor(model => model.Direccion)</h6>
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Direccion)</h4>
            <p>@Html.DisplayNameFor(model => model.Uso)</p>
            <h5>@Html.DisplayFor(modelItem => item.Uso)</h5>
            <p>@Html.DisplayNameFor(model => model.Precio)</p>
            <h4>@Html.DisplayFor(modelItem => item.Precio)</h4>
           <div class="btn-group" role="group">
                    
                        <a class="btn btn-warning" asp-controller="Inmuebles" asp-action="Formulario" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-controller="Inmuebles" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                    
               </div>
<button type="button" class="btn btn-primary" onclick="cargarDatos(@item.Id)">
  Detalle
</button>
          </div>
          
            </div>
        } *@
<div id="inmuebles-container" class="contenedor-card"></div>
<div class="modal fade" id="detalle" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detalleModalLabel">Detalles del inmueble</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="propietario"></p>
        <p id="direccion"></p>
        <p id="tipo"></p>
        <p id="uso"></p>
        <p id="ambientes"></p>
        <p id="coordenadas"></p>
        <p id="precio"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
     
</div>
  <div class="modal" tabindex="-1" id="crearTipoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear nuevo tipo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="descripcion" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="descripcion">
        <span class="text-danger" id="ValidacionDescripcion"></span> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="guardar-tipo" >Guardar</button>
      </div>
    </div>
  </div>
</div>
@section Scripts{
   


     <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $('#IdPropietario').select2(
        {
            placeholder: "Seleccione un propietario",
            ajax: {
                url: '/Propietarios/Buscar',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        nombre: params.term
                    };
                },
                processResults: function (data) {
                    return {
                            results: data.map(element => {
                            return { id: element.id, text: element.nombre + ' ' + element.apellido}
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 3,
        }
    )
    function cargarModal(item){

    const datos = fetch('/Inmuebles/BuscarPorId/' + item)
    .then(response => response.json())
    .then(data => {
        console.log(data);
        document.getElementById('propietario').innerHTML = "<b>Propietario</b>: <br>" + data.propietario.nombre + " " + data.propietario.apellido + " (" + data.propietario.dni + ")";
        document.getElementById('direccion').innerHTML = "<b>Direccion</b>: <br>" + data.direccion;
        document.getElementById('tipo').innerHTML = "<b>Tipo</b>: <br> " + data.tipo.descripcion;
        document.getElementById('uso').innerHTML = "<b>Uso</b>: <br>" + data.uso;
        document.getElementById('ambientes').innerHTML = "<b>Ambientes</b>: <br>" + data.ambientes;
        document.getElementById('coordenadas').innerHTML = "<b>Coordenadas</b>: <br>" + data.coordenadas;
        document.getElementById('precio').innerHTML = "<b>Precio</b>: <br>" + data.precio;
        $('#detalle').modal('show');
    })
    .catch(error => {
        console.error('Error:', error)
        toastr.error('No se pudieron cargar los detalles del inmueble');
        });
}


document.getElementById('guardar-tipo').addEventListener('click', () => {
    const descripcion = document.getElementById('descripcion').value;
    const tipo= { descripcion: descripcion};
    if (!descripcion || descripcion.trim() === "") {
        document.getElementById('ValidacionDescripcion').innerHTML = "El tipo es obligatorio";
    }else{
        document.getElementById('ValidacionDescripcion').innerHTML = "";
        fetch('/Inmuebles/AltaTipo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(tipo)
        })
        .then(response => {
            if (response.ok) {
                toastr.success('Creado correctamente');
                $('#crearTipoModal').modal('hide');
            } else {
                toastr.error('Error al guaradar el tipo de inmueble');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            toastr.error('Error al guardar el tipo de inmueble');
        });
    }});
let filtroDisponibles = document.getElementById('filtro-disponibles');
const fechaDesde = document.getElementById('filtro-periodo-desde');
const fechaHasta = document.getElementById('filtro-periodo-hasta');

    fechaDesde.addEventListener('change', ()=>{
      if (fechaDesde.value && fechaHasta.value){
        listar(filtroDisponibles.checked, fechaDesde.value,fechaHasta.value)
      }
    })
    fechaHasta.addEventListener('change', ()=>{
      if (fechaDesde.value && fechaHasta.value){
        listar(filtroDisponibles.checked, fechaDesde.value,fechaHasta.value)
      }
    })
    function listar(disponibles, fechaDesde, fechaHasta){
      let url = "/Inmuebles/Listar";
      
      if (disponibles != null){
        url = url + "?disponibles="+disponibles
      }
      if (fechaDesde && fechaHasta && disponibles != null){
        url = url + "&fechaDesde="+fechaDesde + "&fechaHasta"+fechaHasta
      }else if(fechaDesde && fechaHasta){
        url = url + "?fechaDesde="+fechaDesde + "&fechaHasta"+fechaHasta
      }

    fetch(url)
    .then(response => response.json())
    .then(data => {
        cargarInmuebles(data);
    })
    .catch(error => {
        console.error('Error:', error);
        toastr.error('Error al cargar los inmuebles');
            }); 
      
    }
function cargarInmuebles(inmuebles) {
    const inmueblesContainer = document.getElementById('inmuebles-container');
      inmueblesContainer.innerHTML = '';
    inmuebles.forEach(item => {
        inmueblesContainer.innerHTML += `
            <div class="card" style="width: 18rem;">
              <img src="/images/default1.png" class="card-img-top imagen-card" alt="Imagen Inmueble">
              <div class="card-body">
                <h6>@Html.DisplayNameFor(model => model.Direccion)</h6>
                <h4 class="card-title">${item.direccion}</h4>
                <p>@Html.DisplayNameFor(model => model.Uso)</p>
                <h5>${item.uso}</h5>
                <p>@Html.DisplayNameFor(model => model.Precio)</p>
                <h4>${item.precio}</h4>
          <div class="btn-group" role="group">
                    
            <a class="btn btn-warning" href=/Inmuebles/Formulario/${item.id}>Editar</a>
            <a class="btn btn-danger" href=/Inmuebles/Formulario/${item.id}>Eliminar</a>
          </div>
<button type="button" class="btn btn-primary" onclick="cargarDatos(${item.id})">
  Detalle
</button>
          </div>
          
        `
      });}

document.getElementById('filtro-disponibles').addEventListener('change', () => {
listar(filtroDisponibles.checked, fechaDesde.value, fechaHasta.value);
      });
    ///listar(filtroDisponibles.checked);


   function cargarContInmueble(id=""){
            const contenedorInmueble = document.getElementById('inmuebles-container')
              fetch("/Inmuebles/_CardInmueble?idPropietario="+id)
              .then(response => response.text())
              .then(data =>{
                contenedorInmueble.innerHTML= data
              
              })
              .catch(error=>{
                console.error(error)
                toastr.error('Error al cargar los inmuebles');
              }) 
              

              
            }
            cargarContInmueble(document.getElementById("IdPropietario").value || "" )
           $("#IdPropietario").on("change",(e)=>
           {
             if(e.target.value != "")

             {
              cargarContInmueble(e.target.value)
              }

           })
    </script>
    }
