@model IEnumerable<inmobiliaria.Models.Propietario>
    @{
    ViewData["Title"]="Propietarios";

    }
<div>
    <h1>Propietarios</h1>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Propietarios" asp-action="Formulario">Registrar</a>
</div>
<table class="table">
    <thead> 
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Dni)</th>

             </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
         <tr>
            <td>@Html.DisplayFor(model => item.Nombre)</td>
            <td>@Html.DisplayFor(model => item.Apellido)</td>
            <td>@Html.DisplayFor(model => item.Dni)</td>
            <td>
                <div class="class="btn-group" role="group"">
                        <a class="btn btn-warning"  asp-controller="Propietarios" asp-action="Formulario" asp-route-id="@item.Id">Editar</a>
						<a class="btn btn-danger" asp-controller="Propietarios" asp-action="Eliminar" asp-route-id="@item.Id" >Eliminar</a>
                        <button type="button" class="btn btn-primary" onclick="cargarDatos(@item.Id)">
                          Detalle
                        </button>
					</div>
            </td>
          </tr>
       
        }

    </tbody>

</table>
<div class="modal fade" id="detalle" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detalleModalLabel">Detalles del propietario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="nombre"></p>
        <p id="apellido"></p>
        <p id="dni"></p>
        <p id="email"></p>
        <p id="telefono"></p>
        <p id="direccion"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
@section Scripts{
    <script>
        function cargarDatos(item){

            const datos = fetch('/Propietarios/BuscarPorId/' + item)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('nombre').innerHTML = "<b>Nombre</b>: <br>" + data.nombre;
                document.getElementById('apellido').innerHTML = "<b>Apellido</b>: <br>" + data.apellido
                document.getElementById('dni').innerHTML = "<b>DNI</b>: <br> " + data.dni;
                document.getElementById('email').innerHTML = "<b>Email</b>: <br>" + data.email;
                document.getElementById('telefono').innerHTML = "<b>Teléfono</b>: <br>" + data.telefono;
                document.getElementById('direccion').innerHTML = "<b>Dirección</b>: <br>" + data.direccion;
                $('#detalle').modal('show');
            })
            .catch(error => {
                console.error('Error:', error)
                toastr.error('No se pudieron cargar los detalles del propietario');
                });
        }
        </script>
        }